<launch>
    <arg name="topic" default="/kinect2/qhd/points"/>
    <arg name="rate" default="10"/>
    <include file="$(find pointcloud_publisher_qt)/launch/pointcloud_publisher_qt.launch">
        <arg name="topic_name" value="$(arg topic)"/>
        <arg name="rate" value="$(arg rate)"/>
    </include>
    <node name="marker_tracker_node" type="marker_tracker_node" pkg="pcl_tracker" args="input:=$(arg topic)" output="screen" respawn="true">
        <rosparam file="$(find pcl_tracker)/param/config.yaml" command="load"/>
    </node>
</launch>
