<launch>
	<arg name="show_rviz" default="true"/>
	<include file="$(find ur5_moveit_config)/launch/ur5_moveit_planning_execution.launch">
	<arg name="sim" default="true"/>
	    <arg name="limited" default="true"/>
	</include>
	<group if="$(arg show_rviz)">
		<include file="$(find pcl_tracker)/launch/moveit_rviz.launch">
		    <arg name="config" default="true"/>
		</include>
	</group>
</launch>
